.git
.gitignore
.env
*.env.local

__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
*.egg-info/

webapp/frontend/node_modules/
webapp/frontend/dist/

.ipynb_checkpoints/
*.ipynb

.DS_Store
Thumbs.db
.vscode/
.idea/

cache/
dist/
build/
*.zip
